:root {
    --primary-clr: #deff98;
    --secondary-clr: #fdff20;
    --white-clr: #ffffff;
    --black-clr: #000000;
    --grey-clr: #333435;
    --background-wm-clr: #e0e0e0;
    --background-dm-clr: #000000;
    --background-container-clr: #111316;
    --background-calendar-clr: #1a1c20;
    --background-calendar-ba-clr: #202225;
    --background-calendar-before-clr: #2a2c2e;

    --fs-1: 1rem;
    --fs-2: 1.25rem;
    --fs-3: 1.5rem;
    --fs-4: 1.75rem;
    --fs-5: 2rem;

    --fw-1: 500;
    --fw-2: 750;
    --fw-3: 1000;
}

@font-face {
    font-family: 'Arista';
    src: url('/assets/fonts/Arista.woff') format('woff2'),
      url('/assets/fonts/Arista.woff2') format('woff');
    font-display: swap;
}

::-webkit-scrollbar {
    width: 0.4rem;
}
::-webkit-scrollbar-track {
    background: var(--background-calendar-clr);
    border-radius: 3.125rem;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 3.125rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Arista', monospace;
}

/* Image Reset*/
img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

/* Anchor Reset */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

p a {
    display: inline;
}

/* Lists Reset */
li {
    list-style-type: none;
}

/* Smooth Scroll  */
html {
    scroll-behavior: smooth;
}

/* Text Reset */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/* Form and fonts Reset*/
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
}

/* Table Reset */
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}

/* SVG Reset*/
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--background-dm-clr);
    display: flex;
}

.container {
    position: relative;
    width: 75rem;
    min-height: 54rem;
    margin: 0 auto;
    padding: 0.5rem;
    color: var(--primary-clr);
    display: flex;
    border-radius: 0.625rem;
    background-color: var(--background-container-clr);
}

.left {
    width: 60%;
    padding: 1.25rem;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--primary-clr);
    border-radius: 0.35rem;
    background-color: var(--background-calendar-clr);
}

.calendar::before,
.calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 0.75rem;
    height: 97%;
    border-radius: 0 0.35rem 0.35rem 0;
    background-color: var(--background-calendar-ba-clr);
    transform: translateY(-50%);
}

.calendar::before {
    height: 94%;
    left: calc(100% + 0.75rem);
    background-color: var(--background-calendar-before-clr);
}

.calendar .month {
    width: 100%;
    height: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.125rem;
    font-size: var(--fs-2);
    text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
    transition: color 0.4s;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: var(--secondary-clr);
    transition: color 0.4s;
}

.calendar .weekdays {
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    font-size: var(--fs-1);
    text-transform: capitalize;
}

.calendar .weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.25rem;
    font-size: var(--fs-2);
    margin-bottom: 1.25rem;
}

.calendar .days .day {
    width: 14.28%;
    height: 5.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 1px solid var(--background-calendar-ba-clr);
}

.calendar .day:not(.prev-date, .next-date):hover {
    color: var(--background-calendar-ba-clr);
    background-color: var(--primary-clr);
}

.calendar .days .prev-date,
.calendar .days .next-date {
    color: var(--grey-clr);
}

.calendar .days .active {
    position: relative;
    font-size: var(--fs-5);
    color: var(--primary-clr);
    background-color: var(--background-calendar-ba-clr); 
}

.calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0.625rem 0.125rem var(--secondary-clr);
}

.calendar .days .today {
    font-size: var(--fs-5)
}

.calendar .days .event {
    position: relative;
}

.calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 0.375rem;
    border-radius: 1.875rem;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
}

.calendar .event:hover::after {
    background-color: var(--white-clr);
}

.calendar .active:event::after {
    background-color: var(--white-clr);
    bottom: 20%;
}

.calendar .active.event {
    padding-bottom: 0.625rem;
}

.calendar .today {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--primary-clr);
}

.calendar .today button {
    padding: 0.3125rem 0.625rem;
    border: 1px solid var(--background-calendar-ba-clr);
    border-radius: 0.3125rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
    transition: background-color 0.5s;
    transition: color 0.5s;
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    margin: 1.5rem;
}

.calendar .today button:hover {
    color: var(--background-calendar-ba-clr);
    background-color: var(--primary-clr);
    transition: background-color 0.5s;
    transition: color 0.5s;
}

.date {
    font-weight: var(--fw-2)
}

.container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}

.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.today-date .event-day {
    font-size: var(--fs-5);
    font-weight: var(--fw-2);
}

.today-date .event-date {
    font-size: var(--fs-1);
    font-weight: var(--fw-2);
    color: var(--primary-clr);
}

.events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    padding: 4px;
}

.events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: var(--secondary-clr);
    cursor: pointer;
    background: linear-gradient(90deg, var(--background-calendar-clr), transparent);
}

.events .event:nth-child(even) {
    background: transparent;
}

.events .event:hover {
    background: linear-gradient(90deg, var(--background-calendar-before-clr), transparent);
}

.events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.events .event .title .event-title {
    font-size: var(--fs-1);
    font-weight: var(--fw-2);
    margin-left: 20px;
}

.events .event .title i {
    color: var(--primary-clr);
    font-size: var(--fs-1);
}

.event .event:hover .title i,
.events .event:hover .event-time  {
    color: var(--primary-clr);
}

.event:hover,
.events .event .title i:hover {
    color: var(--primary-clr);
}

.events .event .event-time {
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    color: var(--secondary-clr);
    margin-left: 15px;
    pointer-events: none;
}

.event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: var(--fs-5);
    display: flex;
    align-items: center;
    opacity: 0.3;
    color: var(--secondary-clr);
    transform: translateY(-50%);
}

.event:hover::after {
    display: flex;
}

.add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--background-calendar-clr);
    transform: translateX(-50%);
    transition: max-height 0.5s;
}

.add-event-wrapper.active {
    max-height: 300px;
}

.add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: var(--primary-clr);
    border-bottom: 1px solid var(--background-calendar-ba-clr);
}

.add-event-header .close {
    font-size: var(--fs-3);
    cursor: pointer;
}

.add-event-header .close:hover {
    color: var(--secondary-clr);
}

.add-event-header .title {
    font-size: var(--fs-2);
    font-weight: var(--fw-1);
}

.add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

.add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--background-calendar-ba-clr);
    padding: 0 10px;
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    color: var(--primary-clr);
}

.add-event-body .add-event-input input::placeholder {
    color: var(--grey-clr);
}

.add-event-body .add-event-input input:focus {
    border-color: var(--background-calendar-before-clr);
}

.add-event-body .add-event-input input:focus::placeholder {
    color: var(--background-calendar-before-clr);
}

.add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.add-event-footer .add-event-btn {
    display: flex;
    justify-content: center;
    height: 40px;
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    outline: none;
    border: none;
    color: var(--background-calendar-clr);
    background-color: var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
}

.add-event-footer .add-event-btn:hover {
    color: var(--primary-clr);
    background-color: transparent;
}

.add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-1);
    color: var(--primary-clr);
    border: 2px solid var(--secondary-clr);
    border-radius: 10px;
    opacity: 0.5;
    background-color: transparent;
    cursor: pointer;
}

.add-event:hover {
    opacity: 1;
}

.add-event i {
    pointer-events: none;
}

@media screen and (max-width: 1000px) {
    body {
      align-items: flex-start;
      justify-content: flex-start;
    }
    .container {
      min-height: 100vh;
      flex-direction: column;
      border-radius: 0;
    }
    .container .left {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .container .right {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .calendar::before,
    .calendar::after {
      top: 100%;
      left: 50%;
      width: 97%;
      height: 12px;
      border-radius: 0 0 5px 5px;
      transform: translateX(-50%);
    }
    .calendar::before {
      width: 94%;
      top: calc(100% + 12px);
    }
    .events {
      padding-bottom: 340px;
    }
    .add-event-wrapper {
      bottom: 100px;
    }
}

  @media screen and (max-width: 500px) {
    .calendar .month {
      height: 75px;
    }
    .calendar .weekdays {
      height: 50px;
    }
    .calendar .days .day {
      height: 40px;
      font-size: 0.8rem;
    }
    .calendar .days .day.active,
    .calendar .days .day.today {
      font-size: 1rem;
    }
    .right .today-date {
      padding: 20px;
    }
}